<div class="box">
	<div id="content">

		<h2>Developer Resources</h2>
		<p>MGravatar 'APIs' require no authentication, and are all based around simple HTTP GET requests. Use the links below to find out more about constructing request URLs, different implementation options and more.</p>

		<h3>MGravatar URLs</h3>
		<p>Learn about how to generate the URLs required to request MGravatar Images and Profile data.</p>
		<ul>
			<li><a href="/site/implement/hash/">Creating the Hash</a></li>
			<li><a href="/site/implement/images/">MGravatar Image Requests</a></li>
			<li><a href="/site/implement/profiles/">MGravatar Profile Requests</a></li>
		</ul>

		<h3>MGravatar Images</h3>
		<ul>
			<li>Code Samples/Reference Implementations		
				<ul>
					<li><a href="http://www.freshclickmedia.com/blog/2009/05/adobe-flex-gravatar-control/">Adobe Flex</a></li>
				    <li><a href="http://www.webdevbros.net/2007/12/29/using-gravatar-in-classic-asp/">ASP</a> (en) and <a href="http://www.aspnetzone.de/blogs/peterbucher/archive/2007/12/29/gravatar-mit-asp-net-einfach-benutzen.aspx">de</a></li>
				    <li><a href="http://www.freshclickmedia.com/blog/2008/02/gravatar-aspnet-control/">ASP.NET</a></li>
				    <li><a href="http://lifeofajackass.com/gravatarget/">.Net</a></li>
				    <li><a href="/site/implement/images/coldfusion/">ColdFusion</a></li>
				    <li><a href="/site/implement/images/django/">Django</a></li>
				    <li><a href="http://userscripts.org/scripts/review/29070">Greasemonkey</a></li>
				    <li><a href="/site/implement/images/java/">Java</a></li>
				    <li><a href="/site/implement/images/perl/">Perl</a></li>
				    <li><a href="/site/implement/images/php/">PHP</a></li>
				    <li><a href="/site/implement/images/python/">Python</a></li>
				    <li><a href="/site/implement/images/ruby/">Ruby</a></li>
				    <li><a href="/site/implement/images/rails/">Ruby on Rails</a></li>
				    <li><a href="http://www.jeff.wilcox.name/2009/03/gravatar-control/">Silverlight/WPF</a></li>
				</ul>
			</li>
			<li><a href="/site/implement/images/libraries/">Plugins, Libraries &amp; Implementations</a></li>
		</ul>

		<h3>MGravatar Profiles</h3>
		<ul>
			<li>Response Formats		<ul>
					<li><a href="/site/implement/profiles/json/">JSON</a></li><a href="/site/implement/profiles/json/">
					</a><li><a href="/site/implement/profiles/json/"></a><a href="/site/implement/profiles/xml/">XML</a></li><a href="/site/implement/profiles/xml/">
					</a><li><a href="/site/implement/profiles/xml/"></a><a href="/site/implement/profiles/php/">PHP</a></li><a href="/site/implement/profiles/php/">
					</a><li><a href="/site/implement/profiles/php/"></a><a href="/site/implement/profiles/vcf/">VCF/vCard</a></li><a href="/site/implement/profiles/vcf/">
					</a><li><a href="/site/implement/profiles/vcf/"></a><a href="/site/implement/profiles/qr/">QR Code</a></li><a href="/site/implement/profiles/qr/">
				</a></ul><a href="/site/implement/profiles/qr/">
			</a></li><a href="/site/implement/profiles/qr/">
			</a><li><a href="/site/implement/profiles/qr/"></a><a href="/site/implement/profiles/jsapi/">JavaScript API</a></li>
		</ul>

		<h3>XML-RPC API</h3>
		<ul>
			<li><a href="/site/implement/xmlrpc/">Documentation</a></li>
			<li>Implementations
				<ul>
					<li><a href="http://gravatarnet.codeplex.com/">MGravatar.NET</a> (.NET)</li>
					<li><a href="http://search.cpan.org/~odyniec/WebService-Gravatar-0.10/lib/WebService/Gravatar.pm">WebService::MGravatar</a> (Perl)</li>
					<li><a href="https://github.com/sinisterchipmunk/gravatar">MGravatar-Ultimate</a> (Ruby)</li>
					<li><a href="http://code.google.com/p/np-gravatar/">NP-MGravatar</a> (Zend Framework)</li>
					<li><a href="http://www.phpclasses.org/package/5700-PHP-Send-requests-to-the-Gravatar-API-about-images.html">MGravatar RPC</a> (PHP)</li>
				</ul>
			</li>
		</ul>
					
	</div>
	<span class="clear"></span>
</div>