<div class="hero-unit intro">
  <h1>M-Gravatar</h1>
  <p>
    This is A Multiple Globally Recognized Avatar. You can just consider it as an enhanced version of <a href="http://en.gravatar.com">Gravatar</a>
  </p>
  <p><a class="btn btn-primary btn-large" href="/developer/api">Learn more »</a></p>
</div>