<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MGravatar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">M-Gravatar</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            {{#if currentUser}}
              <p class="navbar-text pull-right">
                <a href="/profile">{{{currentUser.email}}}</a>
                |
                <a href="/logout">Logout</a>
              </p>
            {{else}}
            <form id="user-form" class="hide navbar-form pull-right" action="/signin" method="POST">
              <input class="span2" name="email" type="text" placeholder="Email">
              <input class="span2" name="password" type="password" placeholder="Password">
              <button type="submit" class="btn" id="submit-btn">Sign up</button>
            </form>
            <p class="pull-right">
              <button class="btn" id="signup-btn">Sign up</button>
              <button class="btn btn-primary" id="signin-btn">Sign in</button>
            </p>
            {{/if}}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      {{{body}}}
      <hr>
      <footer>
        <p>© MGravatar 2012</p>
      </footer>
    </div>
  </body>
</html>