<form action="/profile/upload?" method="POST" enctype="multipart/form-data">
  <legend>{{{user.email}}}'s Avatar</legend>
  <input type="hidden" name="email" value="{{{user.email}}}" />
  <label>Upload an image</label>
  <input type="file" name="image" multiple="multiple" />
  <button type="submit" class="btn">Submit</button>
</form>